<tr>
  {{#if productos}}
    {{#each productos}}
      <tr>
        <td> {{this.title}} </td>
        <td> {{this.price}} </td>
        <td> {{this.thumbnail}} </td>
      </tr>
    {{/each}}
  {{else}}
    <tr>PRODUCTOS NO ENCONTRADOS</tr>
  {{/if}}
</tr>