
doctype html
head
  title TIENDA ARGENTINA : PRODUCTOS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
.container.mt-3
  .jumbotron
    h1(style='color:rgb(10, 10, 26);') Ingrese un producto
    br
    form(action='/productos' method='post')
      .form-group
        label(for='title')
          b title
        input#title.form-control(type='text' name='title')
      .form-group
        label(for='price')
          b Price
        input#price.form-control(type='number' name='price')
      .form-group
        label(for='thumbnail')
          b Thumbnail
        input#thumbnail.form-control(type='url' name='thumbnail')
      button.btn.btn-info.mt-3.mb-5.rounded-pill Submit
      button.btn.rounded-pill.btn-info.mt-3.mb-5.ml-2(type='reset') Clear
    .container.text-center
      button.btn.btn-info.rounded-pill
        a(href='./productos') VER PRODUCTOS