<h1 style="color:rgb(4, 142, 255);">TIENDA ARGENTINA : PRODUCTOS</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="title"><b>Title</b></label>
        <input id="title" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input id="price" class="form-control" type="number" name="price">
    </div>

    <div class="form-group">
        <label for="thumbnail"><b>Thumbnail</b></label>
        <input id="thumbnail" class="form-control" type="url" name="thumbnail">
    </div>

    <button class="btn btn-info rounded-pill mt-3 mb-5">Submit</button>
    <button type="reset" class="btn btn-info mt-3 mb-5 rounded-pill">Clear</button>
</form>
<div class="container text-center"><button class="btn btn-info rounded-pill "><a href="./productos">VER PRODUCTOS</button></a></div>